### Django ###
*.log
*.pot
*.pyc
__pycache__/
backend/config/local_settings.py
backend/media

# C extensions
*.so

# Translations
*.mo


### Node ###
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
*/node_modules/
*/jspm_packages/

# Optional npm cache directory
.npm



# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?